#msg {
	border: 1px solid #c3c3c3;
	background-color: #f2f2f2;
	padding: 5px;
	margin-bottom: 20px;
	font-weight: bold;
	display: none;
}

table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}

h1 {
	text-align: center;
	position: relative;
}

h2 {
	text-align: center;
	position: relative;
}

h2:before, h2:after {
	content: "";
	width: 34%;
	height: 1px;
	background: #555;
	position: absolute;
	top: 50%;
}

h2:before {
	left: 0;
}

h2:after {
	right: 0;
}
th {
	font-weight: bold;
	text-align: center;
	background-color: #00D8CC;
	font-size: 16px;
	color: #484848;
	padding-left: 2px;
	padding-right: 2px;
	border-bottom: solid 2px #CCC;
	height: 30px;
	padding-right: 5px;
}

tr:nth-child(odd) {
	background-color: #F3F3F3;
}

tr:nth-child(even) {
	background-color: #FFF;
}

tr, td {
	text-align: center;
	height: 20px;
	padding-left: 2px;
	padding-right: 2px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	white-space: nowrap;
	border-bottom: solid 2px #E1E1E1;
}

tr:hover {
	background-color: #00D8CC;
	cursor: pointer;
	color: #FFF;
}

#contactform {
	width: 500px;
	padding: 20px;
	background: #f0f0f0;
	overflow: auto;
	border: 1px solid #cccccc;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	-moz-box-shadow: 2px 2px 2px #cccccc;
	-webkit-box-shadow: 2px 2px 2px #cccccc;
	box-shadow: 2px 2px 2px #cccccc;
}

label {
	font-family: Arial, Verdana;
	text-shadow: 2px 2px 2px #ccc;
	display: block;
	float: left;
	margin-right: 15px;
	font-weight: bold;
	margin-right: 10px;
	text-align: right;
	width: 120px;
	line-height: 25px;
	font-size: 15px;
}

.input {
	font-family: Arial, Verdana;
	font-size: 15px;
	padding: 5px;
	border: 1px solid #b9bdc1;
	width: 300px;
	color: #797979;
}

.field:hover .hint {
	position: absolute;
	display: block;
	margin: -30px 0 0 455px;
	color: #FFFFFF;
	padding: 7px 10px;
	background: rgba(0, 0, 0, 0.6);
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

.button {
	float: right;
	margin-left: 15px;
	margin: 10px 55px 10px 0;
	font-weight: bold;
	line-height: 1;
	padding: 6px 10px;
	cursor: pointer;
	color: #fff;
	text-align: center;
	text-shadow: 0 -1px 1px #64799e;
	background: #a5b8da;
	background: -moz-linear-gradient(top, #a5b8da 0%, #7089b3 100%);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a5b8da),
		to(#7089b3));
	border: 1px solid #5c6f91;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: inset 0 1px 0 0 #aec3e5;
	-webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
	box-shadow: inset 0 1px 0 0 #aec3e5;
}

.button:hover {
	border-top-color: #28597a;
	background: #28597a;
	color: #ccc;
}

.button:active {
	border-top-color: #1b435e;
	background: #1b435e;
}

.b {
	float: inherit;;
	margin: 10px 55px 10px 0;
	font-weight: bold;
	line-height: 1;
	padding: 6px 10px;
	cursor: pointer;
	color: #fff;
	text-align: center;
	text-shadow: 0 -1px 1px #64799e;
	background: #a5b8da;
	background: -moz-linear-gradient(top, #a5b8da 0%, #7089b3 100%);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a5b8da),
		to(#7089b3));
	border: 1px solid #5c6f91;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: inset 0 1px 0 0 #aec3e5;
	-webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
	box-shadow: inset 0 1px 0 0 #aec3e5;
}

.b:hover {
	border-top-color: #28597a;
	background: #28597a;
	color: #ccc;
}

.b:active {
	border-top-color: #1b435e;
	background: #1b435e;
}